services:
    routmoute-discord-bundle.oauthservice:
        class: Routmoute\Bundle\RoutmouteDiscordBundle\Service\RoutmouteDiscordOAuthService
        autowire: true
        arguments:
            $client_id: '%routmoute_discord.client_id%'
            $client_secret: '%routmoute_discord.client_secret%'
            $scope: '%routmoute_discord.scope%'

    routmoute-discord-bundle.apiservice:
        class: Routmoute\Bundle\RoutmouteDiscordBundle\Service\RoutmouteDiscordApiService
        autowire: true
        arguments:
            $bot_token: '%routmoute_discord.bot_token%'

    Routmoute\Bundle\RoutmouteDiscordBundle\Service\RoutmouteDiscordApiService:
        alias: routmoute-discord-bundle.apiservice

    Routmoute\Bundle\RoutmouteDiscordBundle\Service\RoutmouteDiscordOAuthService:
        alias: routmoute-discord-bundle.oauthservice
